@model StocksApp.Models.Stock

@{
    ViewBag.Title = "Home";
}
<h1>Home</h1>
<div class="box trading-panel">
    <div class="flex trading-panel-flex">
        <div id="stock-price-panel">

        </div>
    </div>
</div>